# --------------------
# Python
# --------------------

# Pasta de ambiente virtual (venv)
venv/
.venv/

# Caches e arquivos gerados pelo Python
__pycache__/
*.pyc

# Pacotes de distribuição
dist/
build/
*.egg-info/

# Logs e arquivos temporários
*.log

# --------------------
# Banco de Dados
# --------------------

# O arquivo do banco de dados SQLite com dados de teste.
# Cada desenvolvedor deve ter o seu banco de dados vazio.
estoque_barbearia.db

# Arquivos de backup do SQLite
*.db-journal
*.db-wal
*.db-shm

# --------------------
# IDEs e Ferramentas
# --------------------

# VS Code (Configurações específicas do usuário)
.vscode/

# PyCharm/IntelliJ (Se você ou seu colega usarem)
.idea/

# macOS e Windows Thumbs
.DS_Store
Thumbs.db
